@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
/* ------------- Стили для корзины ------------- */
/* Модальное окно */
.jqcart-layout {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 998;
}
.jqcart-layout:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.36em;
}
.jqcart-checkout {
    overflow: auto;
    height: 410px;
    font-family: Tahoma, sans-serif;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 60%;
    padding: 2rem;
    vertical-align: middle;
    border-radius: 4px;
    border:2px solid #f5b029;
    background-color:  #fff;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .3);
}
/* Таблица с заказанными товарами */
.jqcart-cart-title {
	position: relative;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
    color: #000;
}
.jqcart-manage-order {
    display: table;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-collapse: collapse;
}
.jqcart-manage-order > div {
    display: table-row;
}
.jqcart-manage-order .jqcart-row-group {
    display: table-row-group;
}
.jqcart-manage-order > div > div {
    display: table-cell;
    vertical-align: middle;
}
.jqcart-manage-order > div > div input {
    display: inline-block;
    width: 24px;
    font-size: 1.8rem;
    text-align: center;
    border: none;
}
.jqcart-manage-order > div > div:nth-child(3){
    width: 20%;
}
.jqcart-manage-order .jqcart-item-img img {
  max-width: 80px;
  max-height: 80px;
}
.jqcart-thead div:nth-child(1),
.jqcart-tr div:nth-child(1),
.jqcart-tr div:nth-child(4){
    display: none;
}
.jqcart-subtotal {
    margin: 1.5rem 0;
    font-size: 1.2em;
    text-align: right;
}
.jqcart-incr {
    display: inline-block;
    font-size: 1.4em;
    width: 28px;
    height: 28px;
    line-height: 26px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
/* Кнопка удаления отдельного товара из корзины */
.jqcart-del-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-image: url(../img/No_Crosssvg.svg);
    background-size: cover;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s;
}
.jqcart-del-item:hover {
    opacity: 0.7;
    
}
/* Форма для заказчика */
.jqcart-orderform {
    text-align: left;
}
.jqcart-orderform::after {
    display: table;
    content: '';
    clear: both;
}
.jqcart-orderform label {
    position: relative;
    display: inline-block;
    min-width: 90px;
    bottom: -10px;
    overflow: hidden;
}
.jqcart-orderform label::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom: 1px dotted #f5b029;
}
.jqcart-orderform p:last-child {
    margin-top: 10px;
    padding-top: 10px;
}
.jqcart-orderform input[type=text],
 .jqcart-orderform input[type=number]{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    border-radius: 4px;
    border:1px solid #f5b029;
    background-color:  #fff;
    margin-bottom: 2rem;
}
.jqcart-amount:focus{
    outline: none;
}
.jqcart-orderform input[type=text]:focus,
.jqcart-orderform input[type=number]:focus{
    outline: none;
    background-color: rgba(255, 138, 0, 0.1);
}
.jqcart-orderform input[type=submit],
.jqcart-orderform input[type=reset] {
    color: #f5b029;
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
    border:2px solid #f5b029;
    background-color:  #fff;
    padding: 10px;
    font-size: 1.8rem;
    transition: 0.2s;
}
.jqcart-orderform p:nth-child(3){
    margin-top: 0;
    padding-top: 0;
}
.jqcart-orderform input[type=submit]:hover,
.jqcart-orderform input[type=reset]:hover{
    border:2px solid #f5b029;
    background-color:  #f5b029;
    color:#fff;
    cursor: pointer;
}
.jqcart-orderform input[type=submit]:active,
.jqcart-orderform input[type=reset]:active{
    outline: none;
}
.jqcart-orderform input[type=submit]:hover{
    border:2px solid #0e8b01;
    background-color: #0e8b01;
}
.jqcart-orderform input[type=reset] {
    float: right;
}
.jqcart-error {
    color: #f00;
}
