@media screen and (max-width: 1000px){
    html{
        font-size: 9px;
    }
    .wrapper{
        width: 92%;
    }
}
@media screen and (max-width: 925px){
    .main-logo{
        width: 30rem;
    }
    .main-opportunities{
        line-height: 1.9;
        font-size: 1.4rem;
    }
    .main-center-title{
        width: 28rem;
        font-size: 1.8rem;
    }
    .main-center-img{
        width: 26rem;
    }
    .catalog-goods{
        width: 68rem;
        margin: 0 auto;
        margin-top: 4.4rem;
    }
}
@media screen and (max-width: 768px){
    .menu{
        width: 100%;
        height: calc(100vh - 6rem);
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        transition: all 0.5s;
        top: -100vh;
        left: -100vw;
    }
    .menu-active{
        top: 6rem;
        left: 0;
    }
    .menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 2.3rem;
        border-top: 1px solid #E7EAED;
        background-color:  rgb(163, 3, 3);
    }
    .menu-item:active{
        background-color:  #fff;
        color: rgb(163, 3, 3);
    }
    .menu-item:before{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .main-right{
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
        position: fixed;
        margin-top: 7px;
        top:0;
        right: 5%;
        z-index: 9999;
    }
    .main-right-phones{
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
    }
    .phone_number{
        display: none;
    }
    .main-right-phones a{
        width: 5rem;
    }
    .phone_logo{
        width: 4.5rem;
        display: block;
    }
    .phone_logo-vodafone{
        width: 4.7rem;
        margin-top: 2px;
    }
    .main-right-subtext{
        display: none;
    }
    .main-center{
        margin-top: 1.4rem;
    }
    .main-opportunities{
        margin-top: 2rem;
    }
    .zoom,
    .catalog-goods-item-cursor{
        display: none;
    }
    .contacts-blocks{
        flex-direction: column;
        align-items: center;
    }
    .contacts-blocks-info,
    .contacts-blocks-form{
        min-width: 40rem;
    }
    .contacts-blocks-form{
        margin-top: 2rem;
    }
    .contacts-blocks-form button{
        margin-bottom: 2.9rem;
    }
    footer{
        padding: 1.4rem 0;
        text-align: center;
    }
    footer .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer-logo{
        margin-bottom: 1rem;
    }
    .footer-menu{
        display: none;
    }
    .footer-contacts{
        margin-bottom: 1rem;
    }
    .footer-phones{
        font-size: 2rem;
    }
    .footer-socials-line1,
    .footer-socials-line2{
        margin: 0 auto;
        margin-top: 1rem;
    }
    .footer-socials-line1,
    .footer-socials-line2{
        width: 12rem;
    }
    .footer-socials-line1 a,
    .footer-socials-line2 a{
        width: 30px;
    }
    .footer-socials-copy{
        margin-top: 1rem;
    }
    .jqcart-checkout{
        margin-top: 2rem;
        height: calc(100vh - 6rem);
        width: 100%;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
    .jqcart-cart-title,
    .jqcart-subtotal{
        text-align: center;
    }
    .jqcart-subtotal{
        margin-bottom: 25px;
    }
    .jqcart-orderform > p{
        text-align: center;
    }
    .jqcart-orderform label{
        display: none;
    }
    .jqcart-orderform label:after{
        display: none;
    }
    .jqcart-orderform input[type=submit],
    .jqcart-orderform input[type=reset]{
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
        max-width: 300px;
    }
    .jqcart-manage-order .jqcart-item-img img {
      max-width: 64px;
      max-height: 64px;
    }
}
@media screen and (max-width: 640px){
    .main-opportunities,
    .main .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .catalog-title{
        font-size: 4rem;
    }
    .catalog-subtext{
        margin-left: 0;
    }
    .catalog-subtext p{
        display: none;
    }
    .catalog-subtext div{
        margin-left: 1.4rem;
        margin-top: 2rem;
    }
    .catalog-goods{
        width: 34rem;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .catalog-goods-item{
        flex-basis: 34rem;
    }
    .catalog-goods-item-slider{
        width: 25rem;
    }
    .slick-prev:before, .slick-next:before{
        width: 3rem;
        height: 3rem;
    }
    .slick-prev{
        left: -4rem;
    }
    .slick-next{
        right: -4rem;
    }
    .shipping .wrapper{
        width: 80%;
    }
    .methods{
        flex-direction: column;
        align-items: center;
    }
    .methods ul{
        display: flex;
        flex-direction: column;
    }
    .methods ul:first-child{
        margin-left: -20px;
        margin-bottom: 2rem;

    }
    .modal-content{
        width: 95%;
    }
    .modal-content button[type="submit"],
    .modal-content .buyerDate{
        width: 85%;
    }
    .jqcart-checkout{
        width: 98%;
        padding: 1rem;
        text-align: center;
    }
    .about-scanner {
        flex-direction: column;
        align-items: center;
    }
    .about-scanner-colomn1{
        width: 92%;
    }
    .about-scanner-colomn2{
        width: 92%;
    }
@media screen and (max-width: 410px){
    .contacts-blocks-info,
    .contacts-blocks-form{
        min-width: 34rem;
    }
    .contacts-blocks-info-text{
        width: 80%;
    }
    .contacts-blocks-info-wrap{
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .contacts-blocks-info-time p{
        width: 50%;
    }
    .main_section .title{
        font-size: 3.9rem;
    }
}
